.main-content {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: var(--color-primary-dark);
}

.carousel,
.carousel-inner,
.carousel-inner .item {
	height: 100%;
}

.carousel-inner * {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.item:nth-child(1) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Black.png);
}

.item:nth-child(2) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/iria.png);
}

.item:nth-child(3) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/whiskey.png);
}

.item:nth-child(4) {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/toyCar.jpg);
}

.carousel-fade .carousel-inner > .item {
	transition-property: opacity;
}

.carousel-fade .carousel-inner > .item,
.carousel-fade .carousel-inner > .item.active.left {
	opacity: 0;
}

.carousel-fade .carousel-inner > .item.active,
.carousel-fade .carousel-inner > .item.next.left {
	opacity: 1;
}

.carousel-fade .carousel-inner > .next,
.carousel-fade .carousel-inner > .prev,
.carousel-fade .carousel-inner > .active.left,
.carousel-fade .carousel-inner > .active.right {
	left: 0;
}

.carousel-fade .carousel-inner > .item.next,
.carousel-fade .carousel-inner > .item.active.right,
.carousel-fade .carousel-inner > .item.prev,
.carousel-fade .carousel-inner > .item.active.left {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
	z-index: 2;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.carousel-fade .carousel-control.right,
.carousel-fade .carousel-control.left {
	background-image: none !important;
}
